<style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: white;
    }

    /* Cabeçalho */
    .topo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
    }

         .logo {
       width: 200px;
       height: auto; /* Mantém proporção */
}
        }

    .menu {
      margin-left: auto;
    }

    .menu a {
      text-decoration: underline;
      color: #4b0082;
      margin: 0 5px;
      font-weight: bold;
    }

    /* Conteúdo */
    .conteudo {
      padding: 20px;
    }
  </style>
